<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodbook</title>
</head>
<body>
    <nav class="navbar">
    <ul>
      <li class="navitem"><a href="/">Foodbok</a></li>
      <li class="navitem"><a href="/dashboard">Dashboard</a></li>
      <li class="navitem"><a href="/login">Login</a></li>
      <li class="navitem"><a href="#" id="logout-link">Logout</a></li>
    </ul>
  </nav>
    <header>
        <h1>Foodbook</h1>
        <h2>Welcome To Foodbook!</h2>
        <nav>
            <a href ="/login">login</a>
        </nav>
    </header>
    {{{body}}}
    
</body>
</html>